{% include "includes/header.html" %}
{% load static %}
<div class="container">
    <h2>Caractéristiques de l'employé</h2>
    <div class="ps-2 card">
        <div class="card-body">
            <form method="post" action="{% url 'SVM_prediction'%}" class="ps-4 pe-4 pt-4 pb-4">
                {% csrf_token %}
                
                <!-- Education -->
                <div class="mb-4">
                    <label for="education" class="form-label">Niveau d'études</label>
                    <select class="form-select" id="education" name="Education">
                        <option value="Bachelors">Bachelors</option>
                        <option value="Masters">Masters</option>
                        <option value="PHD">PHD</option>
                        <option value="Other">Autre</option>
                    </select>
                </div>
                
                <!-- Joining Year -->
                <div class="mb-4">
                    <label for="joining_year" class="form-label">Année d'embauche</label>
                    <input type="number" class="form-control" id="joining_year" name="JoiningYear"
                           min="2012" max="2018" value="2016">
                </div>
                
                <!-- City -->
                <div class="mb-4">
                    <label for="city" class="form-label">Ville</label>
                    <select class="form-select" id="city" name="City">
                        <option value="Bangalore">Bangalore</option>
                        <option value="Pune">Pune</option>
                        <option value="New Delhi">New Delhi</option>
                        <option value="Other">Autre</option>
                    </select>
                </div>
                
                <!-- Payment Tier -->
                <div class="mb-4">
                    <label for="payment_tier" class="form-label">Catégorie salariale</label>
                    <select class="form-select" id="payment_tier" name="PaymentTier">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                
                <!-- Age -->
                <div class="mb-4">
                    <label for="age" class="form-label">Âge</label>
                    <input type="number" class="form-control" id="age" name="Age" min="22" max="41" value="30">
                </div>
                
                <!-- Gender -->
                <div class="mb-4">
                    <label for="gender" class="form-label">Genre</label>
                    <select class="form-select" id="gender" name="Gender">
                        <option value="Male">Homme</option>
                        <option value="Female">Femme</option>
                    </select>
                </div>
                
                <!-- Ever Benched -->
                <div class="mb-4">
                    <label for="ever_benched" class="form-label">A-t-il déjà été sans affectation ?</label>
                    <select class="form-select" id="ever_benched" name="EverBenched">
                        <option value="Yes">Oui</option>
                        <option value="No">Non</option>
                    </select>
                </div>
                
                <!-- Experience in Current Domain -->
                <div class="mb-4">
                    <label for="experience" class="form-label">Expérience dans le domaine actuel (années)</label>
                    <input type="number" class="form-control" id="experience" name="ExperienceInCurrentDomain" min="0" max="7" value="2">
                </div>
                
                <button type="submit" class="btn btn-primary col-12">Prédire le départ</button>
            </form>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
    const joiningYearInput = document.getElementById("joining_year");

    // Créer un petit paragraphe pour afficher les erreurs
    const errorMessage = document.createElement("p");
    errorMessage.style.color = "red";
    errorMessage.style.fontSize = "0.9em";
    errorMessage.style.marginTop = "5px";
    joiningYearInput.parentNode.appendChild(errorMessage);

    // on a ajouter un evenement pour si utilisateur n'est pas entrer year entre 2022 et 2018 afficher un message
    joiningYearInput.addEventListener("input", function() {
        const year = parseInt(joiningYearInput.value);
        if (year < 2012 || year > 2018) {
            errorMessage.textContent = "L'année doit être comprise entre 2012 et 2018.";
        } else {
            errorMessage.textContent = "";
        }
    });
});
</script>


{% include "includes/footer.html" %}